@import "tailwindcss";

:root {
	--background: oklch(0.208 0.042 265.755);
	--foreground: oklch(0.984 0.003 247.858);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: oklch(0.208 0.042 265.755);
		--foreground: oklch(0.984 0.003 247.858);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.pattern-bg {
	position: absolute;
	top: -6rem;
	left: -6rem;
	width: calc(100% + 12rem);
	right: -6rem;
	bottom: -6rem;
	z-index: -1;
	opacity: 0.3;
	background-image: linear-gradient(
			#9696ff 3.3000000000000003px,
			transparent 3.3000000000000003px
		),
		linear-gradient(
			to right,
			#9696ff 3.3000000000000003px,
			transparent 3.3000000000000003px
		);
	background-size: 66px 66px;
	@media (max-width: 768px) {
		width: calc(100% + 4rem);
		height: calc(100% + 4rem);
		top: -3rem;
		left: -3rem;
		right: -3rem;
		bottom: -3rem;
		background-size: 30px 30px;
	}
}

.default-fade {
	-webkit-mask: radial-gradient(
		ellipse 70% 60% at center,
		rgb(15 23 42) 0%,
		transparent 70%
	);
	mask: radial-gradient(
		ellipse 70% 60% at center,
		rgb(15 23 42) 0%,
		transparent 70%
	);
}
